.container2{
    display: flex;
    background: linear-gradient(to right, blue, white);
    width: 100%;
    height: 93vh;
    .left{
        width: 50%;
    }
    .upper{
        padding-top: 10rem;
    }
    .enter{
        margin-left: 20%;
        font-size: 1.8rem;
        .input{
            font-size: 1.2rem;
            border: none;
            border-bottom: 1px solid black;
            margin-left: 10px;
            background-color: transparent;
            text-align: center;
        }
        .input:focus{
            outline: none;
        }
    }
    .button{
        font-size: 1.2rem;
        margin-top: 2rem;
        margin-left: 39%;
        margin-bottom: 5rem;
        background-color: transparent;
        padding: 5px;
        border-radius: 50px;
        border-color: white;
        box-shadow: 0 2px 6px black;
    }
    .data{
        font-size: 2rem;
        margin-left: 24%;
    }
    .right{
        margin-left: 8rem;
    }
    .error-message{
        font-size: 1.5rem;
        margin-left: 11rem;
        color: rgb(237, 145, 145);
        height: 4vh;
    }
}